:root {
  /* colors */
  --clr-pr-white: hsl(0, 0%, 85%);
  --clr-pr-gray: hsl(0, 0%, 65%);
  --clr-pr-black: hsl(0, 0%, 7%);

  /* typography */

  --ff-inter: "Inter", sans-serif;

  /* font sizes values */

  --fs-16: 16px;
  --fs-18: 18px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-32: 32px;
  --fs-40: 40px;
  --fs-56: 56px;
  --fs-64: 64px;
  --fs-136: 136px;

  /* font weights values */

  --fw-reg: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;

  /* spacing values */

  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-136: 136px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styles */

h1 {
  font-size: clamp(var(--fs-40), 5vw + 1rem, var(--fs-64));
  line-height: 1;
}

h2 {
  font-size: clamp(var(--fs-32), 5vw + 1rem, var(--fs-56));
  line-height: 1.1;
}

body {
  font-family: var(--ff-inter), sans-serif;
  margin-inline: auto;
  padding: 1rem;
}

.container {
  max-width: 1363px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  font-size: var(--fs-24);
  font-weight: var(--fw-semibold);

  color: var(--clr-pr-black);

  padding: var(--spacing-32) 0;

  & nav ul {
    list-style: none;
    display: flex;
    gap: var(--spacing-32);
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    padding: 0;

    & a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.btn-outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 2px solid;
  outline: none;
  padding: var(--spacing-16) var(--spacing-24);

  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;

  &:hover {
    background-color: #000;
    color: #fff;
    transform: scale(1.1);
  }
}

.btn-filled {
  font-size: var(--fs-22);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--clr-pr-black);
  color: #fff;
  border-radius: 0.5rem;
  padding: var(--spacing-16) var(--spacing-24);
  border: 0;

  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;

  &:hover {
    background-color: #000;
    transform: scale(1.1);
  }
}

/* Extra Small Devices (Phones) */
@media (max-width: 479px) {
  /* Styles for phones */
}

/* Small Devices (Tablets) */
@media (min-width: 480px) and (max-width: 767px) {
  /* Styles for landscape phones and small tablets */
}

/* Medium Devices (Tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for larger tablets */
}

/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for small desktops */
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) {
  /* Styles for large desktops */
}
