@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* CSS RESET

  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  /* colors */

  --clr-black-900: #131313;
  --clr-gray-900: #767676;
  --clr-gray-800: #818181;

  /* typography */

  --ff-inter: "Inter", sans-serif;

  /* font weights */

  --fw-extraBold: 800;
  --fw-bold: 700;
  --fw-regular: 400;
}

h1 {
  font-size: 62px;
  line-height: 1;
}

body {
  font-family: var(--ff-inter);
}

button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border: 2px solid var(--clr-black-900);
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: transparent;
}

button:hover {
  color: white;
  background-color: var(--clr-black-900);
}

/* start of header section */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.5px solid var(--clr-gray-800);
}

header > * {
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

header ul li {
}

header a {
  text-decoration: none;
  color: var(--clr-black-900);
}

header ul li a:hover {
  border-bottom: 4px solid var(--clr-black-900);
  padding-bottom: 2rem;
}

button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border: 2px solid var(--clr-black-900);
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: transparent;
}

button:hover {
  color: white;
  background-color: var(--clr-black-900);
}

/* end of header section */

/* start of hero section */

.hero-sec {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 5rem;
  margin: 5rem;
}

.hero-sec .details-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* end of hero section */
